
<div class="block row">
  <div class="title"><h4>Select your CSV file: </h4></div>
  <div class="block right">
    <ng-csv-import 
      class="import"
      content="csv.content"
      header="csv.header" 
      header-visible="csv.headerVisible" 
      separator="csv.separator"
      separator-visible="csv.separatorVisible"
      result="csv.result"
      upload-button-label="csv.uploadButtonLabel"></ng-csv-import>
  </div>
</div> 

<div ng-if="csv.result" class="block left">
 <h2>Validate CSV</h2>
 <div class="alert alert-warning">
 	Ensure everything is correctly formatted, if something does not look right, please edit the csv file and click on choose file again
 	</br>
 	If there are empty sections at the top or at the bottom, it means there are some blank lines in the csv file. 
 	Please delete them from the csv and restart the upload process
 </div>
 <div class="content" hljs source="toPrettyJSON(csv.result, 3)"></div>
</div>

<div ng-if="csv.result" class="block left">
<h2> Upload CSV </h2>
<button class="btn btn-primary" ng-click="bulkUpload(csv.result)">upload
</button>
<div>{{returned_data}}</div>
</div>

